.skin-blue .sidebar-menu > li > a:hover {
    border-left-color: #3c8dbc;
}

.title span, small, .callout.callout-info, .treeview-menu .title{
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px
}

.info-box-number {
	color: #5a84b9;
}