.section-category {
    background: #1c011f;
}

.section-category .container {
    width: 1349px;
    overflow: hidden;
    background: #1c011f;
    padding: 30px 15px;
}

.section-category .container .category-content .section-category-frame {
    padding: 0;
}

.section-category .container .category-content .section-category-frame .section-category-img {
    width: 20%;
    overflow: hidden;
    float: left;
    border-radius: 50px;
}

.section-category .container .category-content .section-category-frame .section-category-img img {
    overflow: hidden;
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

.section-category .container .category-content .section-category-frame .section-category-info {
    width: 80%;
    padding: 0 15px;
    display: inline-block;
}

.section-category .container .category-content .section-category-frame .section-category-info h3 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
}

.section-category .container .category-content .section-category-frame .section-category-info h3 a {
    color: #fff;
    text-decoration: none;
}

.section-category .container .category-content .section-category-frame .section-category-info .category-content {
    color: #fff;
    font-size: 16px;
    clear: both;
}


.section-category .container .category-content .section-category-frame .sec-cate-a {
    position: relative;
    width: 30%;
    margin-top: 22px;
    display: inline-block;
    float: left;
}

div.sec-cate-a svg {
    width: 35px;
    height: auto;
    margin: 0 15px;
    cursor: pointer;
    overflow: visible;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
}

div.sec-cate-a svg .arrow {
    animation: arrow-anim 1.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}


div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FF4136;
}

div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FF4136;
}


.section-category .container .category-content .section-category-frame .sec-cate-a a {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 15px 0px;
    border-radius: 45px;
    border: 2px solid #f4ba42;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
}

.section-category .container .category-content .section-category-frame .sec-cate-a a:hover {
	background: #f4ba42;
	color: #fff;
}


@media (max-width: 1199px) {
    .section-category .container {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .section-category .container .category-content .section-category-frame {
        text-align: center;
    }

    .section-category .container .category-content .section-category-frame .section-category-img {
        float: none;
        margin: auto;
    }

    .section-category .container .category-content .section-category-frame .section-category-img, .section-category .container .category-content .section-category-frame .index-pro-cate, .section-category .container .category-content .section-category-frame .section-category-info {
        width: 100%;
    }

    .container .category-content .section-category-frame .section-category-img {
        max-width: 400px;
    }

    .section-category .container .category-content .section-category-frame .sec-cate-a {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    div.sec-cate-a svg {
        display: none;
    }

    .section-service .section-service-frame {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}
