.bf-fot {
    background: #1c011f;
    padding: 12px;
    border-top: 5px solid #f4ba42;
    margin-top: 30px;
}

.bf-fot p {
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Pattaya', sans-serif;
}

footer {
    background-image: url(../../images/bg-fot.jpg);
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
}

footer .bg-fot-frame {
    background-color: #1c011f;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}

footer .site-footer {
    position: relative;
    z-index: 10;
    padding: 70px 15px;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

footer .site-footer .footer-inner .fot-contact-info {
    color: #fff;
    font-size: 24px;
}

footer .site-footer .footer-inner .fot-contact-info a {
    color: #fff;
    text-decoration: none;
}

footer .site-footer .footer-inner .fot-contact-info h3 {
    font-size: 55px;
    color: #fff;
    text-transform: capitalize;
    font-family: Pattaya, sans-serif;
    position: relative;
    margin: 0;
    padding: 13px 0;
}

footer .site-footer .footer-inner .fot-contact-info p {
    margin-bottom: 0;
}

footer .site-footer .footer-inner .back-to-top {
    position: relative;
    max-width: 180px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    line-height: 1;
    cursor: pointer;
}

.holder {
    position: relative;
    width: 100%;
}

footer .site-footer .footer-inner .back-to-top .holder a {
    width: 180px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 25px;
}

a.animBtn:link, a.animBtn:visited {
    position: relative;
    display: block;
    width: auto;
    margin: 20px auto 0;
    border: 2px solid #fff;
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.2);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

footer .copyright {
    background: #1c011f;
    padding: 15px 0;
    border-bottom: 5px solid #f4ba42;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 1em;
    position: relative;
}

footer .copyright .inner {
    border-top: none;
}

footer .copyright .inner span {
    color: #fff;
}



