
/********************************************************
# BANNER
********************************************************/

.awe-section-6 .section-service .section-service-frame {
    background-image: url(../../images/sec_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    border: 2px solid #f4ba42;
    padding: 60px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.awe-section-6 .section-service .section-service-frame .section-service-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background: #1c011f;
    opacity: 0.7;
}

.awe-section-6 .section-service .section-service-frame h3 {
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #f4ba42;
    font-family: 'Pattaya', sans-serif;
}

.awe-section-6 .section-service .section-service-frame p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ebebeb;
    margin-bottom: 0;
    margin-top: 5px;
}

@media (max-width: 767px) {

    .awe-section-6 .section-service .section-service-frame {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}
