.awe-section-7 .section-news .heading h2 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 60px;
    position: relative;
    margin: 0 0 25px 0;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail {
    width: 100%;
    margin-right: 15px;
    position: relative;
    height: 174px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail img {
    width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail .post-time {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #f4ba42;
    padding: 0 5px;
    border-radius: 15px;
    color: #fff;
}


.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info {
    padding: 5px 15px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .blog-item-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 69px;
    height: auto;
    min-height: 69px;
    position: relative;
    overflow: hidden;
}

.section-news .see-more {
    clear: both;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.section-news .see-more a {
    border: 2px solid #f4ba42;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 18px;
    background: #1c011f;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.section-news .see-more a:hover{
	color: #fff;
	background: #f4ba42
}


@media (max-width: 767px) {
    .luz-blog .blog-item-thumbnail {
        height: auto;
    }

    .luz-blog .blog-item-thumbnail img {
        position: static;
    }

    
}
