.sidebar:after {
	background: unset;
	box-shadow: unset;
}

.luz-blog .right-content .postby {
    position: relative;
    padding-bottom: 13px;
    font-size: 1.14286em;
    line-height: 1.71429em;
    color: #676767;
    margin-bottom: 10px;
}

.luz-blog .right-content .postby:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.luz-blog .right-content .postby i {
    color: #1c011f;
}

.article-content {
    font-size: 1.14286em;
}

/*********************************
**********************************
    COMMENT
**********************************
**********************************/

#article-comments {
    margin-top: 30px;
}

#article-comments .title-form-coment {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    color: #1c011f;
}

#article-comments .title-form-coment:before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

#article-comments .article-comment {
    margin-bottom: 10px;
}

#article-comments .article-comment-user-image {
    margin: 0;
    float: left;
    width: 50px;
    margin-right: 12px;
}

#article-comments .article-comment-user-comment {
    padding-left: 63px;
    font-size: 1em;
}

#article-comments .user-name-comment {
    display: inline-block;
}

#article-comments .user-name-comment {
    margin: 0;
    color: #1c011f;
    font-size: 18px;
    line-height: 1;
}

.btn-link {
    line-height: 40px;
    color: #1c011f;
}

.form-coment .title-form-coment {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #1c011f;
}

.form-coment .title-form-coment:before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

.form-coment .art-comment-name {
    padding-right: 7px;
}

.form-coment .form-group .form-control {
    border-radius: 25px;
    padding: 15px;
}

.form-coment button {
    background: #1c011f !important;
    color: #fff !important;
    border: 2px solid #f4ba42 !important;
    font-size: 18px;
    border-radius: 30px;
    padding: 0 25px;
    line-height: 35px;
}

.form-coment button:hover {
    color: #fff !important;
    background: #f4ba42 !important
}