@font-face {
    font-family: Pattaya;
    src: url(Pattaya.rus/Pattaya-Regular.ttf);
}

@font-face {
    font-family: Robika;
    src: url(Robika/Robika.otf);
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(glyphicons/glyphicons-halflings-regular.ttf);
}