.module-title {
    background-size: cover;
    padding: 85px 15px;
    text-align: center;
    position: relative;
    background-image: url(../../images/breadcrumb_banner.jpg);
    border-bottom: 5px solid #f4ba42;
    margin-bottom: 15px;
}

.module-title .bg-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #1c011f;
    opacity: 0.6;
}

.module-title h2 {
    font-family: Pattaya, sans-serif;
    text-transform: capitalize;
    position: relative;
    z-index: 10;
    font-size: 55px;
}

.module-title h2 a {
    color: #f4ba42;
    text-decoration: none;
}

.module-title .bread-crumb .breadcrumb {
    background: transparent;
    padding: 0;
    display: unset;
}

.module-title .bread-crumb .breadcrumb li {
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    display: inline;
}

.module-title .bread-crumb .breadcrumb li a {
    text-decoration: none;
}

.module-title .bread-crumb .breadcrumb li a span {
    color: #fff;
}

.module-title .bread-crumb .breadcrumb li span .fa {
    color: #fff;
}

.title-head {
    font-size: 1.42857em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.title-head a {
    color: #333;
}