/****************************
*****************************
      DETAIL PRODUCT
*****************************
*****************************/

.thumbnail {
    border: none;
    width: 250px;
    height: 100%;
}

.thumbnail img {
    width: 100%;
    cursor: no-drop;
}

.text-success .price {
    text-decoration: line-through;
}

.box-title {
    font-weight: 500;
    text-transform: uppercase;
}

.w-350 {
    width: 350px;
}

tbody {
    color: #797979;
}
