.anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    color: #333;
    font-size: 18px;
}

.underline-none, .underline-none:focus, .underline-none:active, .underline-none:hover {
    text-decoration: none;
}

/********************************
*********************************
	MOBILE
*********************************
*********************************/

.banner {
    padding: 20px 0;
    background: transparent;
    background-size: cover;
    display: none;
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrap {
    margin: 0 auto;
    max-width: 40em;
    zoom: 1;
}

.logo--left {
    text-align: left;
}

h1 {
    line-height: 1.16em;
}

.order-summary-toggle {
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 1.25em 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: left;
    width: 100%;
}

.order-summary-toggle .wrap {
    position: relative;
}

.expandable.pull-right {
    position: absolute;
    top: 0;
    right: 15px;
}

/********************************
*********************************
	SIDEBAR
*********************************
*********************************/

.content {
    overflow: hidden;
}

.wrap:after, .wrap:before {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

.sidebar {
    position: relative;
    color: #717171;
}

.sidebar:after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    box-shadow: 0 -1px 0 #e1e1e1 inset;
}

.sidebar_header {
    display: none;
}

.sidebar .sidebar_header h5 {
    margin: 21px 0 19px 0;
}

label {
    margin-bottom: 0;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.sidebar hr.full_width {
    margin: 0 0 0 -30px;
    width: 300%;
}

hr {
    border-color: #e1e1e1;
}

.sidebar__content .summary-section {
    padding: 12px 0;
}

.product-table {
    margin: 7px 0;
    width: 100%;
}

.product-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #fff;
    position: relative;
}

.product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.product-thumbnail__quantity {
    font-size: 0.78em;
    white-space: nowrap;
    padding: 0 0.62em;
    border-radius: 2em;
    background-color: #5a96c8;
    color: #fff;
    position: absolute;
    right: -0.9em;
    top: -0.55em;
    z-index: 3;
}

.product-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    z-index: 2;
}

.product {
    color: #4b4b4b;
}

.product:first-child td {
    padding-top: 0;
}

.product-info-name, .product-info-description {
    display: block;
}

.product:first-child td {
    padding-top: 0;
}

.product-price {
    white-space: nowrap;
}

.text-right {
    text-align: right;
}

.order-summary__scroll-indicator {
    background-color: rgba(50,50,50,0.85);
    border-radius: 2em;
    bottom: 1.5em;
    color: #fafafa;
    font-size: 0.85714em;
    left: 50%;
    opacity: 0;
    padding: 0.6em 1.2em;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    white-space: nowrap;
}

.m0 {
    margin: 0 !important;
}	

.field__input-btn-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
     display: flex; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.summary-section .field__input-wrapper {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px
}

.field__input-btn-wrapper .field__input-wrapper {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.field__input-wrapper {
    position: relative;
    background: #fff;
    display: block;
    margin-bottom: 7px;
}

.field__input-wrapper .discount_code {
    box-shadow: 0 0 0 1px #d9d9d9;
    border: none;
    height: 32px;
    border-radius: 5px;
}


.error {
    border: 1px dashed #f88d81;
    color: #f06455;
    display: block;
    padding: 5px 7px;
}

.field__input-btn-wrapper .btn {
    margin-left: 13px;
}

.total-line:first-of-type {
    margin-bottom: 0;
}

.total-line-subtotal {
    padding-bottom: 8px;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left!important;
}

.total-line {
    margin-bottom: 12px;
}

.total-line-total {
    border-top: 1px solid #e7e7e7;
    padding-top: 12px;
    margin-bottom: 0;
}

.total-line-price {
    font-size: 20px;
}

.pull-right {
    float: right!important;
}

.mt10 {
    margin-top: 10px !important;
}

.color {
    color: #1f9cd0 !important;
}

.previous-link i {
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    vertical-align: -10%;
    margin-right: 1px;
}

.field__input-btn-wrapper .btn-checkout {
    padding: 8px 40px;
    width: auto;
}

.field__input-btn-wrapper .btn-checkout:disabled {
    background: lighten;
    cursor: not-allowed;
}


/********************************
*********************************
	MAIN
*********************************
*********************************/

.main .logo {
    display: none;
    padding: 20px 0;
}

.logo--left {
    text-align: left;
}

.section {
    position: relative;
    padding-top: 28px;
}

.section__header {
    position: relative;
    margin-bottom: 12px;
}

.layout-flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-flex {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-flex__item--stretch {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.section__title--icon {
    margin: 0 3px;
    vertical-align: top;
}

.section__title--link {
    font-size: 14px;
}

.section__title--link i {
    padding-right: 2px;
}

.section__content {
    zoom: 1;
}

.section__content:after, .section__content:before {
    content: "";
    display: table;
}

.stateful-form .field__input-wrapper {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    border: none;
}

.main .field__input {
    background-color: white;
    color: #333333;
}

.has-error .form-control, .has-error .form-control:focus {
    box-shadow: 0 0 0 2px #f45b4f;
}

.has-error .form-control {
    border-color: #c23527;
}

.help-block {
     margin-top: 0; 
}

ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.field__input-wrapper .field__input {
    margin-bottom: 0;
    border-radius: 5px
}

.field__input {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 0 1px #d9d9d9;
    padding-top: 1.5em;
    padding-bottom: 0.38em;
}

.field__input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: block;
    height: 3em;
    width: 100%;
    margin: 0 0 15px;
    color: #30373b;
    font-size: 15px;
    line-height: normal;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.94em 0.8em;
    word-break: normal;
    border: none;
    -webkit-transition: border-color 150ms;
    transition: border-color 150ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.section__title--icon {
    margin: 0 3px;
    vertical-align: top;
}

.content-box:first-child, .content-box-spacing:first-child {
    margin-top: 0;
}

.content-box {
    box-shadow: 0 0 0 1px #d9d9d9;
}

.content-box {
    border-radius: 4px;
    background: #fff;
    color: #737373;
}

.content-box__row:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.display-table .content-box__row {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.content-box__row:first-child, .content-box__row.content-box__row--secondary {
    border-top: none;
}

.content-box__row {
    padding: 1.3em;
    position: relative;
    border-top: 1px solid #d9d9d9;
    zoom: 1;
}

.content-box__row:after, .content-box__row:before {
    content: "";
    display: table;
}

.content-box__row:after {
    clear: both;
}

.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.radio-wrapper:after, .radio-wrapper:before, .checkbox-wrapper:after, .checkbox-wrapper:before {
    content: "";
    display: table;
}

.radio-wrapper:after, .checkbox-wrapper:after {
    clear: both;
}

.display-table .radio__input, .display-table .checkbox__input {
    display: table-cell;
}

.radio__input, .checkbox__input {
    padding-right: 0.75em;
    white-space: nowrap;
    display: table-cell;
}

.main .input-radio {
    border-color: #d9d9d9;
    margin: 0;
}

.input-radio:checked, .input-checkbox:checked {
    border: none;
    box-shadow: 0 0 0 10px #337ab7 inset;
}

.input-radio {
    border-radius: 50%;
}

.input-checkbox, .input-radio {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 0 #bbbbbb inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: 1px solid;
}

.input-checkbox:checked:after, .input-radio:checked:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.input-radio:after {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #fff;
    border-radius: 50%;
}

.input-checkbox:after, .input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    transition: all 0.2s ease-in-out 0.1s;
    opacity: 0;
}

.radio__label, .display-table .checkbox__label {
    display: table-cell;
    width: 100%;
}

.radio-wrapper label, .checkbox-wrapper label {
    font-weight: normal;
}

.radio__label, .checkbox__label {
    cursor: pointer;
    font-weight: 400;
    vertical-align: middle;
}

.shipping-method .radio__label__primary {
    display: unset;
}

.radio__label__primary {
    vertical-align: top;
}

.radio__label__primary {
    display: table-cell;
    width: 100%;
}

.shipping-method .radio__label__accessory {
    width: 100px;
    display: inline-block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio__label__accessory {
    padding-left: 3em;
    white-space: nowrap;
    text-align: right;
}

.content-box__emphasis {
    font-weight: 700;
    color: #4d4d4d;
}

.radio__label__accessory {
    display: table-cell;
}

.payment-icon-v2 {
    display: inline-block;
    width: 52px;
    height: 28px;
    transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
}

.payment-icon-fa {
    font-size: 22px;
    color: #1990c6;
    margin-right: 15px;
}

.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.blank-slate p:last-child {
    margin-bottom: 0;
}

.blank-slate p {
    margin: 0 0 5px 0;
}

.content-box__row--secondary {
    background-color: #f8f8f8;
}

.btn-checkout {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 1000px) {
	.wrap {
	    padding: 0 25px;
	    width: 98%;
	    max-width: 95em;
	}

	.order-summary-toggle {
	    display: none;
	}

	.logo a {
	    display: block;
	}

	.anyflexbox .content .wrap {
	    -webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	}

	.sidebar {
	    width: 32%;
	    padding-left: 30px;
	    background-position: left top;
	    float: right;
	}

	.sidebar:after {
	    left: 0;
	    background-position: left top;
	    box-shadow: 1px 0 0 #e1e1e1 inset;
	}

	.sidebar_header {
	    display: block;
	}

	.order-summary--product-list {
	    position: relative;
	}

	.summary-product {
	    min-width: 100%;
	    max-height: 295px;
	    overflow: hidden;
	}

	.main .logo {
	    display: block;
	}

	.main_content {
	    padding-bottom: 35px;
	}

	.main_content .section {
	    padding-right: 5px;
	}

	.section:not(.hide):first-child {
	    padding-top: 0;
	}

}

@media screen and (min-width: 61.875em) {
	.field__input {
	    font-size: 1em;
	}
}


@media (max-width: 999px) {
	.banner {
	    display: block;
	}

	.wrap {
	    width: 100%;
	    box-sizing: border-box;
	    padding: 0 15px;
	}

	.logo {
	    text-align: center !important;
	}

}
