.section-about {
    padding: 15px 0;
}

.section-about .section-about-frame {
    color: #1c011f;
    text-align: center;
    font-size: 14px;
}

.section-about .section-about-frame h3 {
    font-family: 'Pattaya', sans-serif;
    font-size: 45px;
    color: #f4ba42;
    margin: 0;
}

.section-about .section-about-img {
    border: 5px solid #f4ba42;
    outline: 3px solid #fadda2;
}