body {
    font-size: 14px;
    color: #333;
}

body, input, textarea, button, select {
    line-height: 1.7;
    font-family: sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}

*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #323c3f;
    letter-spacing: .01em;
}

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left;
}

a, .text-link {
    color: #575454;
    text-decoration: none;
    background: transparent;
}

a:hover{
    color: #f4ba42;
    text-decoration: none;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none inside;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 15px 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}

.pd-15{
    padding-top: 15px
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.a-center {
    text-align: center !important;
}

.btn.btn-white, input.btn-white[type="submit"] {
    background: #fff;
    color: #333;
    border: 1px solid #e1e1e1;
    font-weight: 400;
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

form {
    margin-bottom: 30px;
}

.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}

label, legend {
    display: block;
    margin-bottom: 2px;
}

.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
}

.form-control:focus {
    outline: 0
}

.has-error .help-block {
    color: #a94442;
}

.product-thumbnail-frame .sale-flash {
    top: 15px;
    left: 15px;
    background: #d00;
    position: absolute;
    font-size: .92857em;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    z-index: 99;
}

.product-thumbnail-frame .sale-flash:before {
    border-bottom: 10px solid #d00;
    border-top: 10px solid transparent;
    bottom: 100%;
    top: auto;
}

.product-thumbnail-frame .sale-flash:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    position: absolute;
    bottom: 100%;
    margin: 0;
    left: 0%;
    top: auto;
    z-index: 100;

}

.product-thumbnail-frame .sale-flash:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #f4ba42;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.product-thumbnail-frame .sale-flash {
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

clearfix:after {
    content: "";
    display: table;
    clear: both;
}

button, input[type="submit"] {
    cursor: pointer;
}