#luz-cart .shopping-cart-table h1 {
    color: #1c011f;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
    border-bottom: 1px dashed #ebebeb;
    padding-bottom: 15px;
}

#luz-cart .shopping-cart-table h1 span {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
}

.cart-empty {
    text-align: center;
    margin-top: 20px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cart-empty .btn-cart-empty {
    font-size: 18px;
}

.cart-empty a {
    background: #1c011f;
    color: #fff;
    border: 2px solid #f4ba42;
    font-size: 14px;
    border-radius: 30px;
    padding: 0px 20px;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 39px;
}

.cart-empty a:hover {
	color: #fff;
	background: #f4ba42
}


.shopping-cart-item {
    background-color: transparent;
    padding: 15px 0;
    margin: 0;
}

.shopping-cart-item .col-xs-3 {
    padding-left: 0;
}

.shopping-cart-item .col-xs-3 p {
    margin: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.shopping-cart-item .col-right {
    padding-left: 0;
}

.shopping-cart-item .col-right .box-info-product {
    width: 350px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.shopping-cart-item .col-right .box-info-product .name {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 0;
}

.shopping-cart-item .col-right .box-info-product .name a {
    color: #242424;
    font-weight: 500;
}

.shopping-cart-item .col-right .box-info-product .action {
    position: relative;
    padding: 0 !important;
    margin-bottom: 0;
    margin-top: 0;
}

#luz-cart #shopping-cart .btn-item-delete {
    color: #f4ba42;
    font-weight: bold;
    border: 0;
    font-size: 13px;
    position: static;
    padding: 0;
    line-height: 1.1;
}

.shopping-cart-item .col-right .box-price {
    float: left;
    width: 110px;
    padding-right: 10px;
}

.shopping-cart-item .col-right .box-price .price {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    padding-top: 0;
}

.shopping-cart-item .col-right .quantity-block {
    width: 120px;
    float: right;
}

.shopping-cart-item .col-right .quantity-block .input-group-btn button.bootstrap-touchspin-up {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    border-left: 0;
    color: #999;
    line-height: 20px;
    padding: 3px 9px;
    margin: 0;
    width: 28px;
    background-color: #fff;
    float: right;
}

.shopping-cart-item .col-right .quantity-block .input-group-btn .js-quantity-product {
    display: inline-block;
    height: 28px;
    padding: 0 5px;
    text-align: center;
    border-radius: 0;
    width: 35px;
    float: right;
    min-height: 28px;
    border: 1px solid #e5e5e5;
}

.shopping-cart-item .col-right .quantity-block .input-group-btn button.bootstrap-touchspin-down {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e5e5e5;
    border-right: 0;
    border-color: #e5e5e5;
    color: #999;
    line-height: 20px;
    padding: 3px 9px;
    margin: 0;
    width: 28px;
    background-color: #fff;
    float: right;
}

.shopping-cart-item .col-right .quantity-block .input-group-btn button {
    height: 28px;
}

#luz-cart #right-affix .box-style .list-info-price {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#luz-cart #right-affix .box-style .list-info-price span {
    font-weight: bold;
}

#luz-cart #right-affix .box-style .list-info-price strong {
    float: right;
}

#luz-cart #right-affix .box-style .total2 .text-label {
    font-weight: bold;
    line-height: 33px;
}

#luz-cart #right-affix .box-style .total2 .amount {
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #f4ba42;
}

#luz-cart #right-affix .btn-proceed-checkout {
    background: #1c011f;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
}

#luz-cart #right-affix .btn-proceed-checkout:hover {
	color: #fff;
	background: #f4ba42;
	border: none;
}

#luz-cart #right-affix .btn-proceed-checkout:last-child {
    background: #fff;
    border: 1px solid #1c011f;
    color: #1c011f;
    margin-top: 10px;
}

#luz-cart #right-affix .btn-proceed-checkout {
    background: #1c011f;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
}


/**************************************************
***************************************************
   CART MOBILE
***************************************************
***************************************************/

.cart-mobile {
    padding: 10px 0px 0px 0px;
}

.cart-mobile .header-cart {
    padding: 10px;
}

.cart-mobile .title-cart {
    margin-bottom: 15px;
    line-height: 10px;
}

.cart-mobile .title-cart h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    display: inline-block;
}

.cart-mobile .header-cart-content {
    margin-top: 0px;
    padding: 10px;
}

.cart-mobile .header-cart-content .content-product-list {
    min-height: 110px;
}

.cart-mobile .header-cart-content .content-product-list .item-product {
    min-height: 110px;
    border-bottom: solid 1px #f1f1f1;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.item-product-cart-mobile, .title-product-cart-mobile {
    display: table-cell;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 10px
}

form a {
    color: #575454;
}

.item-product-cart-mobile img {
    max-width: 100px;
    margin-right: 10px;
}

.title-product-cart-mobile h3 {
    line-height: 1;
    margin: 0;
    font-weight: normal;
}

.title-product-cart-mobile a {
    word-break: break-word;
    font-size: 14px;
    color: #363636;
}

.title-product-cart-mobile p {
    line-height: 2;
    font-size: 14px;
    color: #898989;
}

.title-product-cart-mobile span {
    color: #1c011f;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
    margin-top: 10px;
}

.select-item-qty-mobile>div {
    position: relative;
    width: 68px;
    height: 25px;
}

.cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus, .cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
    padding: 0;
    margin: 0;
    width: 23px;
    text-align: center;
}

.cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    line-height: 1;
    height: 25px;
    border-style: hidden;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
    cursor: pointer;
}

.cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 25px;
    display: inline-block;
    line-height: 1;
    border-style: hidden;
    color: #fff;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
    cursor: pointer;
}

.select-item-qty-mobile .txt_center input {
    height: 25px;
    width: 24px;
    text-align: center;
    margin: 0px;
    padding: 0;
    position: absolute;
    left: 22px;
    min-height: 0;
    border: solid thin #ddd;
    border-radius: 0;
}

.select-item-qty-mobile a {
    line-height: 3;
    color: #333;
}

.cart-mobile .header-cart-price {
    padding: 10px 0px;
    padding-bottom: 0;
}

.cart-mobile .title-cart a {
    float: right;
    color: #f4ba42;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
}

.btn-proceed-checkout-mobile {
    width: 100%;
    line-height: 27px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    border: none;
    background: #1c011f;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: bold;
}

.btn-proceed-checkout-mobile:hover {
	color: #fff;
	background: #f4ba42
}

.btn-proceed-continues-mobile:hover {
	color: #fff;
	background: #f4ba42;
	border: none;
}

.btn-proceed-continues-mobile {
    background-color: #fff;
    color: #1c011f;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #1c011f;
    font-weight: bold;
}