.sec-page-contact {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    padding: 5px 15px;
    min-height: 150px;
}

.sec-page-contact h1 {
    margin: 0;
    font-family: Pattaya, sans-serif;
    color: #1c011f;
}

.sec-page-contact table tr td {
    padding: 5px;
    vertical-align: top;
    border: none;
}

.sec-page-contact table tr td:first-child {
    width: 25px;
}

.sec-page-contact table tr td i {
    color: #f4ba42;
}

.sec-page-contact table tr td {
    padding: 5px;
    vertical-align: top;
    border: none;
}

.sec-map-contact {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    overflow: hidden;
}

.sec-map-contact iframe {
    width: 100% !important;
    height: 175px !important;
    margin-bottom: -7px;
}

.page-login #login .title-head {
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    color: #222;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 25px;
    position: relative;
    font-weight: 400;
}

.block {
    display: block !important;
}

.form-group .form-control {
    border-radius: 25px;
    padding: 5px 15px;
}

.page-login #login .btn-blues {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    outline: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 13px;
    border: 2px solid;
    border-color: #f4ba42;
    background: #1c011f;
    font-weight: 500;
    z-index: 2;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    border-radius: 25px;
    line-height: 35px;
}

.page-login #login .btn-blues:hover {
	color: #fff;
	background: #f4ba42
}