header {
    background: #1c011f;
    margin: auto;
    position: relative;
}

header .under-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -15px;
    z-index: 10;
    background-image: url(/template/images/bg-header2.png);
    height: 15px;
    width: 100%;
}

header .header-main {
    padding: 0;
    position: relative;
}

header .header-main .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header .header-main nav {
    text-align: right;
    background: transparent;
}

header .header-main nav .nav:before{
    display: table;
    content: " ";
}

header .header-main nav .nav:after{
    clear: both;
}

header nav .nav {
    position: relative;
}

header .header-main nav ul li {
    float: none;
    display: inline-block;
    position: relative;
}

header nav .nav-item {
    margin-right: 45px;
}

header .header-main nav ul li.active a {
    color: #f4ba42;
}

header .header-main nav ul li .nav-link:hover{
	color: #f4ba42;
}

header .header-main nav ul li a {
    color: #fff;
    background-color: transparent !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px 5px;
    font-family: Pattaya, sans-serif;
}

header nav .nav-item>a {
    line-height: 32px;
    color: #333;
}

header .header-main nav ul li .menu-ul {
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    width: 180px;
    text-align: left;
    top: 100%;
    left: 0;
    display: none;
}

header .header-main nav ul .dropdown:hover .menu-ul{
	display: block;
}

header .header-main nav ul li .menu-ul li {
    display: block;
    border-bottom: 2px solid #f4ba42;
    padding: 6px 15px;
    border-radius: 30px;
    background: #1c011f;
    position: relative;
}

header .header-main nav ul li .menu-ul li a {
    border-bottom: none;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

header .header-main nav ul li.heading-search-frame .header_search {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 0;
}

header .header-main nav ul li.heading-search-frame:hover .header_search {
    display: block;
}

.header_search .input-group {
    width: 100%;
    margin-bottom: 0;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group input {
    padding-right: 35px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 25px;
    border: none;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group input:focus{
 	outline: 0;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group .icon-fallback-text {
	border-radius: 25px;
	background: none;
}

.header_search .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

.header_search button {
    padding: 0;
    width: 45px;
    background: transparent;
}

.header_search button:focus{
    outline: 0
}

header .header-main nav ul li.heading-user-frame .heading-user {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header .header-main nav ul li.heading-user-frame:hover .heading-user{
	display: block;
}

header .header-main nav ul li.heading-user-frame .heading-user a {
    white-space: nowrap;
    color: #1c011f;
    text-decoration: none;
}

header .header-main nav ul li.heading-cart-frame .count_item_pr {
    position: absolute;
    top: 6px;
    right: 0;
    background: #f4ba42;
    border-radius: 50%;
    padding: 0 7px;
    font-size: 12px;
    color: #fff !important;
}

/********************************
*********************************
    HEADER MOBILE
*********************************
*********************************/

header .header-mobile {
    position: relative;
}

header .header-mobile .logo {
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9999;
}

.logo {
    display: inline-block;
    font-size: 2.85714em;
}

header .header-mobile .logo img {
    height: 90px;
}

header .header-mobile ul.mod-header {
    text-align: right;
    margin-top: 35px;
}

header .header-mobile ul.mod-header li {
    float: none;
    display: inline-block;
    position: relative;
    /*top: -70px;*/
}

header .header-mobile ul.mod-header li.heading-cart-frame a {
    font-size: 18px;
}

header .header-mobile ul.mod-header li a {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px 5px;
}

header .header-mobile ul.mod-header li.heading-cart-frame a .count_item_pr {
    position: absolute;
    top: -10px;
    right: 3px;
    background: #f4ba42;
    border-radius: 50%;
    padding: 0 7px;
    font-size: 12px;
    color: #fff !important;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 0;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search .input-group {
    min-width: 220px;
    border-radius: 25px;
    overflow: hidden;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search .input-group input {
    padding-right: 40px;
}

.header_search .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}

header .header-mobile .menu-mobile.menu-mobile-active {
    opacity: 1;
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
    z-index: 99;
}

header .header-mobile .menu-mobile {
    position: absolute;
    top: -40px;
    opacity: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

header .header-mobile .menu-mobile .nav-mobile {
    margin-top: 15px;
    border: 1px solid #f4ba42;
    padding: 15px;
    border-radius: 25px;
    background: #1c011f;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item {
    padding: 3px 0;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.active .nav-link {
    color: #f4ba42;
    text-decoration: none;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .nav-link {
    color: #fff;
     text-decoration: none; 
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .fa-angle-down {
    float: right;
    margin-top: -25px;
    color: #fff;
    cursor: pointer;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .menu-ul {
    padding-left: 10px;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile {
    text-align: center;
    border-top: 1px dashed #f4ba42;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #f4ba42;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search {
    padding: 0;
}

.header_search .input-group {
    width: 100%;
    margin-bottom: 0;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search .input-group input {
    border-radius: 25px;
    border: none;
    padding-left: 20px
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search .input-group input:focus{
    outline: 0
}

.input-group .btn, .input-group input[type="submit"], .input-group .input-group-field {
    height: 40px;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.account-mobile {
    text-align: center;
    border-top: 1px dashed #f4ba42;
    margin-top: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #f4ba42;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.account-mobile .nav-link{
    display: unset;
}

header .header-mobile .menu-bar.d-md-none.d-lg-none {
    top: 70px;
    left: 15px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .menu-bar.d-md-none.d-lg-none {
        position: absolute;
        top: 40px;
        right: 15px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        z-index: 1000;
    }

    .logo {
        display: inline-block;
        font-size: 30px;
        line-height: 65px;
        top: 20px
    }
}

@media (max-width: 767px) {
    header .header-mobile .menu-mobile {
        width: 95%;
    }
}
