/*********************************
**********************************
  INFOR PRODUCT
**********************************
**********************************/

.product .details-pro .title-head {
    position: relative;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 26px;
    color: #1c011f;
}

.details-product .details-pro .price-box {
    margin: 10px 0 15px;
}

.product .details-pro .price-box .special-price .product-price {
    font-size: 24px;
    color: #f4ba42;
    display: inline-block;
}

.details-product .details-pro .price-box del {
    color: #adadad;
    font-size: 1.42857em;
}

.product .details-pro .form-product {
    margin-top: 10px;
}

.product .details-pro .form-product .form-group .custom-btn-number {
    float: left;
    width: auto;
    margin-right: 10px;
}

.details-product .details-pro .custom-btn-number {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    height: auto;
}

.form-group .form-control {
    border-radius: 25px;
}

.product .details-pro .form-product .form-group .custom-btn-number .btn-minus {
    border: 1px solid #ebebeb;
    background: #fff;
    height: 40px;
    vertical-align: top;
    float: left;
    width: 30px;
    border-radius: 25px 0 0 25px;
}

.product .details-pro .form-product .form-group .custom-btn-number .btn-minus:focus{
	outline: 0
}

.product .details-pro .form-product .form-group .custom-btn-number #qty {
    float: left;
    width: 60px;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    height: 40px;
    border-top: 1px solid #ebebeb
}

.product .details-pro .form-product .form-group .custom-btn-number #qty:focus{
	outline: 0
}

.details-product .details-pro .custom-btn-number #qty {
    height: 32px;
    font-size: 1.28571em;
    margin: 0;
}

.product .details-pro .form-product .form-group .custom-btn-number .btn-plus {
    border: 1px solid #ebebeb;
    background: #fff;
    height: 40px;
    vertical-align: top;
    float: left;
    width: 30px;
    border-radius: 0 25px 25px 0;
}

.product .details-pro .form-product .form-group .custom-btn-number .btn-plus:focus{
	outline: 0
}

.product .details-pro .form-product .form-group .btn_buy {
    float: left;
    border-radius: 25px;
    border: 2px solid #f4ba42;
    background: #1c011f;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 20px;
}

.product .details-pro .form-product .form-group .btn_buy .txt-main{
	font-size: 16px
}

.product .details-pro .form-product .form-group .btn_buy:hover{
	color: #fff;
	background: #f4ba42
}

/*********************************
**********************************
  NAV TABS
**********************************
**********************************/

.product-tab .tabs-title {
    text-align: center;
}

ul.tabs li.current {
    background: #1c011f;
    border: 2px solid #f4ba42;
    border-bottom: 0;
}


ul.tabs li.current {
    color: #000;
}

.product-tab .tab-link {
    margin-right: 5px;
    background: #f9f9f9;
    padding: 0 15px;
    border-radius: 15px 15px 0 0;
    border: 1px dotted #f4ba42;
    border-bottom: 0;
}

ul.tabs li {
    background: none;
    display: inline-block;
    cursor: pointer;
}

.product-tab .tab-link.current h3 {
    color: #fff;
}

.product-tab .tab-link h3 {
    margin: 10px 0;
    font-size: 1.14286em;
}

.product-tab .tab-link span {
    font-size: 1.14286em;
}

.product-tab .tab-content.current {
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
}

.tab-content.current {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.product-well {
    min-height: 20px;
    padding: 0;
    padding-bottom: 35px;
    background-color: #fff;
    position: relative;
    margin-bottom: 18px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
}

.product-well .ba-text-fpt {
    height: 415px;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.product-well .show-more {
    position: relative;
}

.product-well .show-more::before {
    display: block;
    content: "";
    height: 120px;
    position: absolute;
    top: -120px;
    width: 100%;
    left: 0;
    background: rgba(255,255,255,0.6);
    background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.33) 33%, rgba(255,255,255,0.8) 83%, #fff);
}

.product-well .show-more .btn--view-more {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 0px;
    text-align: center;
    background-color: transparent;
    color: #1c011f;
    font-weight: normal;
    outline: none;
    box-shadow: none;
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.hide{
	display: none;
	background: unset;
}

/*********************************
**********************************
  ASIDE
**********************************
**********************************/

.module_service_details {
    margin-bottom: 10px;
    border-radius: 15px;
}

.module_service_details .wrap_module_service {
    overflow: hidden;
    background: #1c011f;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ {
    padding: 0px 15px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service {
    position: relative;
    padding: 20px 0px 20px 45px;
    border-bottom: dashed 1px #e1e1e1;
}

.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service{
	border-bottom: none;
}

.module_service_details .wrap_module_service .item_service:nth-child(1) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po1.png?1535770649193);
}

.module_service_details .wrap_module_service .item_service:nth-child(2) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po2.png?1535770649193);
}

.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po3.png?1535770649193);
}



.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service:before {
    content: "";
    width: 30px;
    height: 30px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service p {
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #f4ba42;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ebebeb;
}

.sidebar-aside:after{
	box-shadow: unset;
	background: unset;
	position: relative;
}

.pro-hotline-frame {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

.pro-hotline-frame h3 {
    margin: 0;
    font-family: 'Pattaya', sans-serif;
    display: inline-block;
}

.pro-hotline-frame a {
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    color: #e00;
    text-decoration: none;
}

.pro-hotline-frame p {
    margin: 0;
}

.pro-banner-frame {
    overflow: hidden;
    border-radius: 25px;
    margin-top: 15px;
}

.pro-banner-frame img {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

@media (max-width: 767px){
	.product-tab .tab-link {
	    border-bottom: 1px dotted #f4ba42;
	    padding: 5px 15px;
	    display: block;
	    margin: 0;
	    border-radius: 0;
	}

	ul.tabs li.current {
	    border-bottom: 2px solid #f4ba42;
	}

	.product-tab .tab-content.current {
	    border-radius: 0;
	}
}
