.section-selling {
    padding: 15px 0;
    overflow: hidden;
    position: relative;
}

.selling-content{
	width: 100%;
}

.section-selling .selling-content .heading h2 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    margin-top: 10px
}

.section-selling .selling-content .heading h2 a {
    color: #1c011f;
    text-decoration: none;
}

.section-selling .selling-content .owl-carousel .thumbnail{
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    overflow: visible;
    margin-bottom: 40px;
    margin: 0 15px;
}

.section-selling .selling-content .owl-carousel .thumbnail:hover {
	border: 1px dashed #f4ba42;
}

.section-selling .selling-content .owl-carousel .thumbnail .product-thumbnail-frame {
	position: relative;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.section-selling .selling-content .owl-carousel .thumbnail .product-thumbnail-frame .blog-thumb-img img {
	width: auto !important;
    max-height: 100%;
    position: absolute;
    top: -60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}


.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name {
	position: relative;
    text-align: center;
    font-family: Pattaya, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name a {
    color: #1c011f;
}

.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name:hover a {
	color: #f4ba42;
}

.section-selling .selling-content .owl-carousel .caption .price-box {
	margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.section-selling .selling-content .owl-carousel .caption .price-box .special-price, .old-price{
	display: inline-block;
}

.section-selling .selling-content .owl-carousel .caption .price-box .special-price .product-price {
    font-size: 14px;
    font-weight: normal;
}

.section-selling .selling-content .owl-carousel .caption .price-box .old-price .product-price-old {
	font-size: 12px;
	text-decoration: line-through;
    margin: 0 0 0 10px;
    display: inline-block;
    color: #adadad;
}

.section-selling .selling-content .owl-carousel .caption .product-action {
	position: relative;
    
}

.section-selling .selling-content .owl-carousel .caption .product-action form {
	position: absolute;
	left: 0;
    right: 0;
    top: -125px;
    margin: auto;
	margin-bottom: 0;
	text-align: center;
}

.section-selling .selling-content .owl-carousel .caption .product-action form button {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #000;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: 600;
    font-family: Arial;
    color: #f4ba42;
    transition: 0.6s;
}

.section-selling .selling-content .owl-carousel .caption .product-action form .quick-view {
	border-radius: 50%;
}

.section-selling .selling-content .owl-carousel .caption .product-action form .quick-view:focus {
	outline: 0
}

.owl-nav{
	text-align: center;
}

.owl-nav button {
	font-size: 30px !important
}

.owl-nav button:focus{
	outline: 0
}

.owl-nav .owl-next span{
	padding-left: 15px
}