.luz-blog .right-content .blog-main {
    margin-top: 15px;
}

.blog-item-frame {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.blog-item-frame:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.luz-blog .blog-item-thumbnail {
    height: 167px;
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.blog-item-frame .blog-item-thumbnail .post-time {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #f4ba42;
    padding: 0 5px;
    border-radius: 15px;
    color: #fff;
}

.blog-item-frame .blog-item-info {
    padding: 5px 15px;
}

.blog-item-frame .blog-item-info .blog-item-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.blog-item-frame .blog-item-info .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.blog-item-frame .blog-item-info .blog-item-name a:hover {
	color: #f4ba42
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 69px;
    height: auto;
    min-height: 69px;
    position: relative;
    overflow: hidden;
}

.left-content .aside-item .heading .title-head {
    text-transform: capitalize;
    position: relative;
    padding-bottom: 13px;
    color: #1c011f;
    font-size: 1.42857em;
    font-weight: 700;
    text-decoration: none;
}

.left-content .aside-item .heading .title-head:before {
	content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.aside-item .aside-content .nav-category .nav li {
    margin-bottom: 10px;
}

.aside-item.collection-category .nav-item {
    position: relative;
    clear: left;
    font-size: 1.07143em;
    width: 100%;
}

.sidebar .aside-item .aside-content .nav-category .nav li a {
    padding-right: 30px;
    font-family: Pattaya, sans-serif;
    font-size: 16px;
    border-radius: 25px;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    color: #1c011f;
}

.sidebar .aside-item .aside-content .nav-category .nav li:hover a{
	border: 1px dotted #f4ba42;
	color: #f4ba42;
}

.aside-item.collection-category .nav>li>a {
    padding: 5px 15px;
}

.aside-item .aside-content .nav-category .nav li .fa-angle-down {
    color: #1c011f;
    position: absolute;
    top: 12px;
}

.aside-item .aside-content .nav-category .nav li .fa-angle-down:hover {
	color: #f4ba42;
	cursor: pointer;
}

.aside-item.collection-category .nav-item .fa-angle-down {
    width: 20px;
    text-align: center;
}

.aside-item.collection-category .nav-item .fa-angle-down {
    right: 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu {
    border: 1px dotted #ccc;
    border-radius: 20px;
    background: transparent;
    padding-left: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-top: 0;
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
    display: block;
}

.aside-item.collection-category .nav-item .dropdown-menu {
    position: static;
    width: 100%;
    border: 0;
    padding-left: 15px;
    box-shadow: none;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li {
    margin-bottom: 0;
    padding: 0 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li a {
    border: none;
    padding: 6px 0;
    border-bottom: 1px dotted #ccc;
    border-radius: 0;
    color: #1c011f;
    padding-right: 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li a:hover {
	color: #f4ba42
}

.left-content .aside-item .list-blogs .blog-item {
    margin-bottom: 15px;
    overflow: hidden;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-thumbnail {
    width: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    position: relative;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name a:hover {
	color: #f4ba42
}





