.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info{
	position: absolute;
    top: 20%;
    right: 15%;
    z-index: 10;
    text-align: right;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info h4{
	font-size: 100px;
    color: #f4ba42;
    margin: 0;
    font-family: Pattaya, sans-serif;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p{
	color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p a{
	background: #1c011f;
    color: #fff;
    border: 2px solid #f4ba42;
    font-size: 18px;
    border-radius: 30px;
    padding: 0 25px;
    line-height: 35px;
    font-style: italic;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p a:hover {
    color: #fff;
    background: #f4ba42
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon, .carousel-control-next {
	display: none;
}

/********************************************************
# CONTACT
********************************************************/

.section-contact {
    margin: auto;
    background: #1c011f;
    border-top: 2px solid #f4ba42;
    padding: 15px 0;
}

.section-contact ul {
    text-align: center;
}

.section-contact ul li {
    display: inline-block;
    padding-right: 15px;
}

.section-contact ul li a {
    color: #f4ba42;
    font-size: 18px;
    text-decoration: none;
}

.section-contact ul li a i {
    width: 44px;
    border-radius: 50%;
    border: 1px solid #f4ba42;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}


