@font-face {
    font-family: Pattaya;
    src: url(Pattaya.rus/Pattaya-Regular.ttf);
}

@font-face {
    font-family: Robika;
    src: url(Robika/Robika.otf);
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(glyphicons/glyphicons-halflings-regular.ttf);
}
body::-webkit-scrollbar-track
{
    border: 1px solid black;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

body {
    font-size: 14px;
    color: #333;
}

body, input, textarea, button, select {
    line-height: 1.7;
    font-family: sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}

*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #323c3f;
    letter-spacing: .01em;
}

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left;
}

a, .text-link {
    color: #575454;
    text-decoration: none;
    background: transparent;
}

a:hover{
    color: #f4ba42;
    text-decoration: none;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none inside;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 15px 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}

.pd-15{
    padding-top: 15px
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.a-center {
    text-align: center !important;
}

.btn.btn-white, input.btn-white[type="submit"] {
    background: #fff;
    color: #333;
    border: 1px solid #e1e1e1;
    font-weight: 400;
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

form {
    margin-bottom: 30px;
}

.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}

label, legend {
    display: block;
    margin-bottom: 2px;
}

.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
}

.form-control:focus {
    outline: 0
}

.has-error .help-block {
    color: #a94442;
}

.product-thumbnail-frame .sale-flash {
    top: 15px;
    left: 15px;
    background: #d00;
    position: absolute;
    font-size: .92857em;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    z-index: 99;
}

.product-thumbnail-frame .sale-flash:before {
    border-bottom: 10px solid #d00;
    border-top: 10px solid transparent;
    bottom: 100%;
    top: auto;
}

.product-thumbnail-frame .sale-flash:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    position: absolute;
    bottom: 100%;
    margin: 0;
    left: 0%;
    top: auto;
    z-index: 100;

}

.product-thumbnail-frame .sale-flash:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #f4ba42;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.product-thumbnail-frame .sale-flash {
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

clearfix:after {
    content: "";
    display: table;
    clear: both;
}

button, input[type="submit"] {
    cursor: pointer;
}

.sidebar:after {
    background: unset !important;
    box-shadow: unset !important;
}

/*********************
     error page 404
**********************/

.error-page {
    width: 600px;
    margin: 20px auto 0 auto;
}

.error-page>.headline {
    float: left;
    font-size: 100px;
    font-weight: 300;
}

.text-yellow {
    color: #f39c12 !important;
}

.error-page>.error-content {
    margin-left: 190px;
    display: block;
}

.error-page>.error-content>h3 {
    font-weight: 300;
    font-size: 25px;
}

.help-block, .required{
        color: red
    }


header {
    background: #1c011f;
    margin: auto;
    position: relative;
}

header .under-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -15px;
    z-index: 10;
    background-image: url(../../images/bg-header2.png);
    height: 15px;
    width: 100%;
}

header .header-main {
    padding: 0;
    position: relative;
}

header .header-main .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header .header-main nav {
    text-align: right;
    background: transparent;
}

header .header-main nav .nav:before{
    display: table;
    content: " ";
}

header .header-main nav .nav:after{
    clear: both;
}

header nav .nav {
    position: relative;
}

header .header-main nav ul li {
    float: none;
    display: inline-block;
    position: relative;
}

header nav .nav-item {
    margin-right: 45px;
}

header .header-main nav ul li.active a {
    color: #f4ba42;
}

header .header-main nav ul li .nav-link:hover{
	color: #f4ba42;
}

header .header-main nav ul li a {
    color: #fff;
    background-color: transparent !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px 5px;
    font-family: Pattaya, sans-serif;
}

header nav .nav-item>a {
    line-height: 32px;
    color: #333;
}

header .header-main nav ul li .menu-ul {
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    width: 180px;
    text-align: left;
    top: 100%;
    left: 0;
    display: none;
}

header .header-main nav ul .dropdown:hover .menu-ul{
	display: block;
}

header .header-main nav ul li .menu-ul li {
    display: block;
    border-bottom: 2px solid #f4ba42;
    padding: 6px 15px;
    border-radius: 30px;
    background: #1c011f;
    position: relative;
}

header .header-main nav ul li .menu-ul li a {
    border-bottom: none;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

header .header-main nav ul li.heading-search-frame .header_search {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 0;
}

header .header-main nav ul li.heading-search-frame:hover .header_search {
    display: block;
}

.header_search .input-group {
    width: 100%;
    margin-bottom: 0;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group input {
    padding-right: 35px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 25px;
    border: none;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group input:focus{
 	outline: 0;
}

header .header-main nav ul li.heading-search-frame .header_search .input-group .icon-fallback-text {
	border-radius: 25px;
	background: none;
}

.header_search .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

.header_search button {
    padding: 0;
    width: 45px;
    background: transparent;
}

.header_search button:focus{
    outline: 0
}

header .header-main nav ul li.heading-user-frame .heading-user {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header .header-main nav ul li.heading-user-frame:hover .heading-user{
	display: block;
}

header .header-main nav ul li.heading-user-frame .heading-user a {
    white-space: nowrap;
    color: #1c011f;
    text-decoration: none;
}

header .header-main nav ul li.heading-cart-frame .count_item_pr {
    position: absolute;
    top: 6px;
    right: 0;
    background: #f4ba42;
    border-radius: 50%;
    padding: 0 7px;
    font-size: 12px;
    color: #fff !important;
}

/********************************
*********************************
    HEADER MOBILE
*********************************
*********************************/

header .header-mobile {
    position: relative;
}

header .header-mobile .logo {
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9999;
}

.logo {
    display: inline-block;
    font-size: 2.85714em;
}

header .header-mobile .logo img {
    height: 90px;
}

header .header-mobile ul.mod-header {
    text-align: right;
    margin-top: 35px;
}

header .header-mobile ul.mod-header li {
    float: none;
    display: inline-block;
    position: relative;
    /*top: -70px;*/
}

header .header-mobile ul.mod-header li.heading-cart-frame a {
    font-size: 18px;
}

header .header-mobile ul.mod-header li a {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px 5px;
}

header .header-mobile ul.mod-header li.heading-cart-frame a .count_item_pr {
    position: absolute;
    top: -10px;
    right: 3px;
    background: #f4ba42;
    border-radius: 50%;
    padding: 0 7px;
    font-size: 12px;
    color: #fff !important;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 0;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search .input-group {
    min-width: 220px;
    border-radius: 25px;
    overflow: hidden;
}

header .header-mobile ul.mod-header li.heading-search-frame .header_search .input-group input {
    padding-right: 40px;
}

.header_search .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}

header .header-mobile .menu-mobile.menu-mobile-active {
    opacity: 1;
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
    z-index: 99;
}

header .header-mobile .menu-mobile {
    position: absolute;
    top: -40px;
    opacity: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

header .header-mobile .menu-mobile .nav-mobile {
    margin-top: 15px;
    border: 1px solid #f4ba42;
    padding: 15px;
    border-radius: 25px;
    background: #1c011f;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item {
    padding: 3px 0;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.active .nav-link {
    color: #f4ba42;
    text-decoration: none;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .nav-link {
    color: #fff;
     text-decoration: none; 
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .fa-angle-down {
    float: right;
    margin-top: -25px;
    color: #fff;
    cursor: pointer;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item .menu-ul {
    padding-left: 10px;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile {
    text-align: center;
    border-top: 1px dashed #f4ba42;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #f4ba42;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search {
    padding: 0;
}

.header_search .input-group {
    width: 100%;
    margin-bottom: 0;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search .input-group input {
    border-radius: 25px;
    border: none;
    padding-left: 20px
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.search_mobile .header_search .input-group input:focus{
    outline: 0
}

.input-group .btn, .input-group input[type="submit"], .input-group .input-group-field {
    height: 40px;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.account-mobile {
    text-align: center;
    border-top: 1px dashed #f4ba42;
    margin-top: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #f4ba42;
}

header .header-mobile .menu-mobile .nav-mobile .nav-item.account-mobile .nav-link{
    display: unset;
}

header .header-mobile .menu-bar.d-md-none.d-lg-none {
    top: 70px;
    left: 15px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    header nav .nav-item{
        margin-right: 0;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .menu-bar.d-md-none.d-lg-none {
        position: absolute;
        top: 40px;
        right: 15px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        z-index: 1000;
    }

    .logo {
        display: inline-block;
        font-size: 30px;
        line-height: 65px;
        top: 20px
    }
}

@media (max-width: 767px) {
    header .header-mobile .menu-mobile {
        width: 95%;
    }
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info{
	position: absolute;
    top: 20%;
    right: 15%;
    z-index: 10;
    text-align: right;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info h4{
	font-size: 100px;
    color: #f4ba42;
    margin: 0;
    font-family: Pattaya, sans-serif;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p{
	color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p a{
	background: #1c011f;
    color: #fff;
    border: 2px solid #f4ba42;
    font-size: 18px;
    border-radius: 30px;
    padding: 0 25px;
    line-height: 35px;
    font-style: italic;
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-inner .carousel-item .slide-info p a:hover {
    color: #fff;
    background: #f4ba42
}

.awe-section-1 .section-slide #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon, .carousel-control-next {
	display: none;
}

/********************************************************
# CONTACT
********************************************************/

.section-contact {
    margin: auto;
    background: #1c011f;
    border-top: 2px solid #f4ba42;
    padding: 15px 0;
}

.section-contact ul {
    text-align: center;
}

.section-contact ul li {
    display: inline-block;
    padding-right: 15px;
}

.section-contact ul li a {
    color: #f4ba42;
    font-size: 18px;
    text-decoration: none;
}

.section-contact ul li a i {
    width: 44px;
    border-radius: 50%;
    border: 1px solid #f4ba42;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}



.section-selling {
    padding: 15px 0;
    overflow: hidden;
    position: relative;
}

.selling-content{
	width: 100%;
}

.section-selling .selling-content .heading h2 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    margin-top: 10px
}

.section-selling .selling-content .heading h2 a {
    color: #1c011f;
    text-decoration: none;
}

.section-selling .selling-content .owl-carousel .thumbnail{
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    overflow: visible;
    margin-bottom: 40px;
    margin: 0 15px;
}

.section-selling .selling-content .owl-carousel .thumbnail:hover {
	border: 1px dashed #f4ba42;
}

.section-selling .selling-content .owl-carousel .thumbnail .product-thumbnail-frame {
	position: relative;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.section-selling .selling-content .owl-carousel .thumbnail .product-thumbnail-frame .blog-thumb-img img {
	width: auto !important;
    max-height: 100%;
    position: absolute;
    top: -60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}


.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name {
	position: relative;
    text-align: center;
    font-family: Pattaya, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name a {
    color: #1c011f;
}

.section-selling .selling-content .owl-carousel .thumbnail .caption .product-name:hover a {
	color: #f4ba42;
}

.section-selling .selling-content .owl-carousel .caption .price-box {
	margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.section-selling .selling-content .owl-carousel .caption .price-box .special-price, .old-price{
	display: inline-block;
}

.section-selling .selling-content .owl-carousel .caption .price-box .special-price .product-price {
    font-size: 14px;
    font-weight: normal;
}

.section-selling .selling-content .owl-carousel .caption .price-box .old-price .product-price-old {
	font-size: 12px;
	text-decoration: line-through;
    margin: 0 0 0 10px;
    display: inline-block;
    color: #adadad;
}

.section-selling .selling-content .owl-carousel .caption .product-action {
	position: relative;

}

.section-selling .selling-content .owl-carousel .caption .product-action form {
	position: absolute;
	left: 0;
  right: 0;
  top: -125px;
  margin: auto;
	margin-bottom: 0;
	text-align: center;
}

.section-selling .selling-content .owl-carousel .caption .product-action form button {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #000;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: 600;
    font-family: Arial;
    color: #f4ba42;
    transition: 0.6s;
}

.section-selling .selling-content .owl-carousel .caption .product-action form button:hover {
   background: #f4ba42;
   color: #fff;
}

.owl-nav{
	text-align: center;
}

.owl-nav button {
	font-size: 30px !important
}

.owl-nav button:focus{
	outline: 0
}

.owl-nav .owl-next span{
	padding-left: 15px
}

.section-category {
    background: #1c011f;
}

.section-category .container {
    width: 1349px;
    overflow: hidden;
    background: #1c011f;
    padding: 30px 15px;
}

.section-category .container .category-content .section-category-frame {
    padding: 0;
}

.section-category .container .category-content .section-category-frame .section-category-img {
    width: 20%;
    overflow: hidden;
    float: left;
    border-radius: 50px;
}

.section-category .container .category-content .section-category-frame .section-category-img img {
    overflow: hidden;
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

.section-category .container .category-content .section-category-frame .section-category-info {
    width: 80%;
    padding: 0 15px;
    display: inline-block;
}

.section-category .container .category-content .section-category-frame .section-category-info h3 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
}

.section-category .container .category-content .section-category-frame .section-category-info h3 a {
    color: #fff;
    text-decoration: none;
}

.section-category .container .category-content .section-category-frame .section-category-info .category-content {
    color: #fff;
    font-size: 16px;
    clear: both;
}


.section-category .container .category-content .section-category-frame .sec-cate-a {
    position: relative;
    width: 30%;
    margin-top: 22px;
    display: inline-block;
    float: left;
}

div.sec-cate-a svg {
    width: 35px;
    height: auto;
    margin: 0 15px;
    cursor: pointer;
    overflow: visible;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
}

div.sec-cate-a svg .arrow {
    animation: arrow-anim 1.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}


div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FF4136;
}

div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

div.sec-cate-a svg polygon, div.sec-cate-a svg path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FF4136;
}


.section-category .container .category-content .section-category-frame .sec-cate-a a {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 15px 0px;
    border-radius: 45px;
    border: 2px solid #f4ba42;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
}

.section-category .container .category-content .section-category-frame .sec-cate-a a:hover {
	background: #f4ba42;
	color: #fff;
}


@media (max-width: 1199px) {
    .section-category .container {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .section-category .container .category-content .section-category-frame {
        text-align: center;
    }

    .section-category .container .category-content .section-category-frame .section-category-img {
        float: none;
        margin: auto;
    }

    .section-category .container .category-content .section-category-frame .section-category-img, .section-category .container .category-content .section-category-frame .index-pro-cate, .section-category .container .category-content .section-category-frame .section-category-info {
        width: 100%;
    }

    .container .category-content .section-category-frame .section-category-img {
        max-width: 400px;
    }

    .section-category .container .category-content .section-category-frame .sec-cate-a {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    div.sec-cate-a svg {
        display: none;
    }

    .section-service .section-service-frame {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}


/********************************************************
# BANNER
********************************************************/

.awe-section-6 .section-service .section-service-frame {
    background-image: url(../../images/sec_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    border: 2px solid #f4ba42;
    padding: 60px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.awe-section-6 .section-service .section-service-frame .section-service-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background: #1c011f;
    opacity: 0.7;
}

.awe-section-6 .section-service .section-service-frame h3 {
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #f4ba42;
    font-family: 'Pattaya', sans-serif;
}

.awe-section-6 .section-service .section-service-frame p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ebebeb;
    margin-bottom: 0;
    margin-top: 5px;
}

@media (max-width: 767px) {

    .awe-section-6 .section-service .section-service-frame {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}

.awe-section-7 .section-news .heading h2 {
    font-family: Pattaya, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 60px;
    position: relative;
    margin: 0 0 25px 0;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail {
    width: 100%;
    margin-right: 15px;
    position: relative;
    height: 174px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail img {
    width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-thumbnail .post-time {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #f4ba42;
    padding: 0 5px;
    border-radius: 15px;
    color: #fff;
}


.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info {
    padding: 5px 15px;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .blog-item-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.awe-section-7 .section-news .list-blogs-link .blog-item-frame .blog-item-info .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 69px;
    height: auto;
    min-height: 69px;
    position: relative;
    overflow: hidden;
}

.section-news .see-more {
    clear: both;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.section-news .see-more a {
    border: 2px solid #f4ba42;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 18px;
    background: #1c011f;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.section-news .see-more a:hover{
	color: #fff;
	background: #f4ba42
}


@media (max-width: 767px) {
    .luz-blog .blog-item-thumbnail {
        height: auto;
    }

    .luz-blog .blog-item-thumbnail img {
        position: static;
    }

    
}

.section-about {
    padding: 15px 0;
}

.section-about .section-about-frame {
    color: #1c011f;
    text-align: center;
    font-size: 14px;
}

.section-about .section-about-frame h3 {
    font-family: 'Pattaya', sans-serif;
    font-size: 45px;
    color: #f4ba42;
    margin: 0;
}

.section-about .section-about-img {
    border: 5px solid #f4ba42;
    outline: 3px solid #fadda2;
}
.bf-fot {
    background: #1c011f;
    padding: 12px;
    border-top: 5px solid #f4ba42;
    margin-top: 30px;
}

.bf-fot p {
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Pattaya', sans-serif;
}

footer {
    background-image: url(../../images/bg-fot.jpg);
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
}

footer .bg-fot-frame {
    background-color: #1c011f;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}

footer .site-footer {
    position: relative;
    z-index: 10;
    padding: 70px 15px;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

footer .site-footer .footer-inner .fot-contact-info {
    color: #fff;
    font-size: 24px;
}

footer .site-footer .footer-inner .fot-contact-info a {
    color: #fff;
    text-decoration: none;
}

footer .site-footer .footer-inner .fot-contact-info h3 {
    font-size: 55px;
    color: #fff;
    text-transform: capitalize;
    font-family: Pattaya, sans-serif;
    position: relative;
    margin: 0;
    padding: 13px 0;
}

footer .site-footer .footer-inner .fot-contact-info p {
    margin-bottom: 0;
}

footer .site-footer .footer-inner .back-to-top {
    position: relative;
    max-width: 180px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    line-height: 1;
    cursor: pointer;
}

.holder {
    position: relative;
    width: 100%;
}

footer .site-footer .footer-inner .back-to-top .holder a {
    width: 180px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 25px;
}

a.animBtn:link, a.animBtn:visited {
    position: relative;
    display: block;
    width: auto;
    margin: 20px auto 0;
    border: 2px solid #fff;
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.2);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

footer .copyright {
    background: #1c011f;
    padding: 15px 0;
    border-bottom: 5px solid #f4ba42;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 1em;
    position: relative;
}

footer .copyright .inner {
    border-top: none;
}

footer .copyright .inner span {
    color: #fff;
}




.module-title {
    background-size: cover;
    padding: 85px 15px;
    text-align: center;
    position: relative;
    background-image: url(../../images/breadcrumb_banner.jpg);
    border-bottom: 5px solid #f4ba42;
    margin-bottom: 15px;
}

.module-title .bg-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #1c011f;
    opacity: 0.6;
}

.module-title h2 {
    font-family: Pattaya, sans-serif;
    text-transform: capitalize;
    position: relative;
    z-index: 10;
    font-size: 55px;
}

.module-title h2 a {
    color: #f4ba42;
    text-decoration: none;
}

.module-title .bread-crumb .breadcrumb {
    background: transparent;
    padding: 0;
    display: unset;
}

.module-title .bread-crumb .breadcrumb li {
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    display: inline;
}

.module-title .bread-crumb .breadcrumb li a {
    text-decoration: none;
}

.module-title .bread-crumb .breadcrumb li a span {
    color: #fff;
}

.module-title .bread-crumb .breadcrumb li span .fa {
    color: #fff;
}

.title-head {
    font-size: 1.42857em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.title-head a {
    color: #333;
}
.sidebar .aside-item .aside-title .title-head:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.sidebar .aside-filter {
    margin-top: 15px;
}

.sidebar .aside-item .aside-title .title-head {
    text-transform: capitalize;
    position: relative;
    padding-bottom: 13px;
    margin-top: 5px;
    color: #1c011f;
    font-size: 1.42857em;
    font-weight: 700;
    text-decoration: none;
}

.sidebar .aside-item .aside-title .title-head a, .sidebar .aside-item .aside-title .title-head span {
    text-decoration: none;
    color: #1c011f;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group ul {
    max-height: 140px;
    overflow-y: auto;
}

.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 2.5em;
    min-width: 100%;
    float: left;
    padding-right: 8px;
}

.filter-item * {
    color: #6f6f6f;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
}

label[for] {
    cursor: pointer;
}


.filter-item--check-box .fa {
    margin-right: 5px;
    width: 14px;
    margin-left: 1px;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.input-group-field, .input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.filter-group ul {
    max-height: 140px;
    overflow-y: auto;
}

.sidebar .aside-item .aside-content .col-banner {
    overflow: hidden;
    border-radius: 25px;
}

.sidebar .aside-item .aside-content .col-banner img {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

/**********************************************
***********************************************
	CUSTOM SCROLL
***********************************************
***********************************************/

.filter::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/*************************************************/

.collection .title-head {
    position: absolute;
    top: 5px;
    text-transform: capitalize;
    color: #1c011f;
}

.collection .category-products .sortPagiBar {
    border-bottom: 1px dashed #f4ba42;
    margin-bottom: 20px;
    padding-bottom: 7px;
}

#sort-by {
    float: right;
    font-size: 12px;
    text-align: left;
}

#sort-by label {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
    font-weight: 700;
}

#sort-by ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float: right;
}

#sort-by>ul>li {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
    text-indent: .01px;
    cursor: pointer;
    line-height: 36px;
}

#sort-by li {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    margin: 0 auto;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    width: 240px;
    float: left;
    color: #333;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

#sort-by ul ul {
    position: absolute;
    display: none;
    left: -1px;
    top: 35px;
    background: none repeat scroll 0 0 #F8F8F8;
    z-index: 10000;
    border-top: none;
    border: 1px #F0F0F0 solid;
}

#sort-by li li {
    width: 100%;
    margin-top: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#sort-by a:link, #sort-by a:visited {
    color: #333;
    text-decoration: none;
}

#sort-by li>a {
    display: inline-block;
    width: 100%;
    line-height: 36px;
}

/**********************************************
***********************************************
	PRODUCT
***********************************************
***********************************************/

.product-box {
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    overflow: visible;
    margin-bottom: 40px;
    text-align: left;
    background: #fff;
    position: relative;
}

.product-box:hover {
	border: 1px dashed #f4ba42;
}

.product-box .product-thumbnail-frame {
    position: relative;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.product-box .product-thumbnail-frame img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.product-box .product-info {
    text-align: center;
    position: relative;
    padding: 0 15px 20px;
}

.product-box .product-name {
    position: relative;
    text-align: center;
    font-family: Pattaya, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.product-box .product-name a {
    color: #1c011f;
}

.product-box .product-info .price-box {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-box .product-info .price-box .special-price {
    display: inline-block;
}

.product-box .product-info .price-box .special-price .product-price {
    font-size: 14px;
    font-weight: normal;
    color: #323c3f;
    line-height: 1.71429em;
    display: block;
}

.product-box .product-info .price-box .old-price {
    display: inline-block;
}

.product-box .product-info .price-box .old-price .product-price-old {
    font-size: 12px;
    text-decoration: line-through;
    margin: 0 0 0 10px;
    display: inline-block;
    color: #adadad;
}

.product-box .product-info .product-action {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    margin: auto;
}

.product-box .product-info .product-action form {
    margin-bottom: 0px;
}

.product-box .product-info .product-action form button {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #000;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: 600;
    font-family: Arial;
    color: #f4ba42;
    transition: 0.6s;
}

.product-box .product-info .product-action form button:hover {
	color: #fff;
	background: #f4ba42
}

.product-box .product-info .product-action form .quick-view {
    border-radius: 50%;
}

.product-box .product-info .product-action form .quick-view:hover {
	background: #1c011f;
	color: #fff;
}


/**********************************************
***********************************************
	PAGINATE
***********************************************
***********************************************/

.pagination-frame {
    text-align: center;
}

.pagination {
	margin-bottom: 20px;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination-frame .pagination .page-item .page-link {
    border-radius: 50%;
    padding: 0;
    line-height: 38px;
}

.pagination .page-link {
    float: left;
    margin: 2.5px;
    width: 40px;
    background: #fff;
    text-align: center;
    height: 40px;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    border-radius: 0;
    border: none;
    text-decoration: none;
    border: 1px solid #e1e1e1;
}

.pagination .page-link:hover {
	background-color: #9e9e9e;
	color: #fff;
}

.pagination-frame .pagination .page-item.active .page-link {
    background-color: #1c011f;
    border: 1px solid #f4ba42;
}

.pagination .page-item.active .page-link {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    color: #fff;
    display: block;
}
/*********************************
**********************************
  INFOR PRODUCT
**********************************
**********************************/

.product .details-pro .title-head {
    position: relative;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 26px;
    color: #1c011f;
}

.details-product .details-pro .price-box {
    margin: 10px 0 15px;
}

.product .details-pro .price-box .special-price .product-price {
    font-size: 24px;
    color: #f4ba42;
    display: inline-block;
}

.details-product .details-pro .price-box del {
    color: #adadad;
    font-size: 1.42857em;
}

.product .details-pro .form-product {
    margin-top: 10px;
}

.product .details-pro .form-product .form-group .custom-btn-number {
    float: left;
    width: auto;
    margin-right: 10px;
}

.details-product .details-pro .custom-btn-number {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    height: auto;
}

.form-group .form-control {
    border-radius: 25px;
}

.product .details-pro .form-product .form-group .custom-btn-number .btn-plus:focus{
	outline: 0
}

.product .details-pro .form-product .form-group .btn_buy {
    float: left;
    border-radius: 25px;
    border: 2px solid #f4ba42;
    background: #1c011f;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 20px;
}

.product .details-pro .form-product .form-group .btn_buy .txt-main{
	font-size: 16px
}

.product .details-pro .form-product .form-group .btn_buy:hover{
	color: #fff;
	background: #f4ba42
}

/*********************************
**********************************
  NAV TABS
**********************************
**********************************/

.product-tab .tabs-title {
    text-align: center;
}

ul.tabs li.current {
    background: #1c011f;
    border: 2px solid #f4ba42;
    border-bottom: 0;
}


ul.tabs li.current {
    color: #000;
}

.product-tab .tab-link {
    margin-right: 5px;
    background: #f9f9f9;
    padding: 0 15px;
    border-radius: 15px 15px 0 0;
    border: 1px dotted #f4ba42;
    border-bottom: 0;
}

ul.tabs li {
    background: none;
    display: inline-block;
    cursor: pointer;
}

.product-tab .tab-link.current h3 {
    color: #fff;
}

.product-tab .tab-link h3 {
    margin: 10px 0;
    font-size: 1.14286em;
}

.product-tab .tab-link span {
    font-size: 1.14286em;
}

.product-tab .tab-content.current {
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
}

.tab-content.current {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.product-well {
    min-height: 20px;
    padding: 0;
    padding-bottom: 35px;
    background-color: #fff;
    position: relative;
    margin-bottom: 18px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
}

.product-well .ba-text-fpt {
    height: 415px;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.product-well .show-more {
    position: relative;
}

.product-well .show-more::before {
    display: block;
    content: "";
    height: 120px;
    position: absolute;
    top: -120px;
    width: 100%;
    left: 0;
    background: rgba(255,255,255,0.6);
    background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.33) 33%, rgba(255,255,255,0.8) 83%, #fff);
}

.product-well .show-more .btn--view-more {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 0px;
    text-align: center;
    background-color: transparent;
    color: #1c011f;
    font-weight: normal;
    outline: none;
    box-shadow: none;
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.hide{
	display: none;
	background: unset;
}

/*********************************
**********************************
  ASIDE
**********************************
**********************************/

.module_service_details {
    margin-bottom: 10px;
    border-radius: 15px;
}

.module_service_details .wrap_module_service {
    overflow: hidden;
    background: #1c011f;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ {
    padding: 0px 15px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service {
    position: relative;
    padding: 20px 0px 20px 45px;
    border-bottom: dashed 1px #e1e1e1;
}

.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service{
	border-bottom: none;
}

.module_service_details .wrap_module_service .item_service:nth-child(1) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po1.png?1535770649193);
}

.module_service_details .wrap_module_service .item_service:nth-child(2) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po2.png?1535770649193);
}

.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/312/791/themes/667098/assets/po3.png?1535770649193);
}



.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service:before {
    content: "";
    width: 30px;
    height: 30px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27px;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service p {
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #f4ba42;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ebebeb;
}

.sidebar-aside:after{
	box-shadow: unset;
	background: unset;
	position: relative;
}

.pro-hotline-frame {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

.pro-hotline-frame h3 {
    margin: 0;
    font-family: 'Pattaya', sans-serif;
    display: inline-block;
}

.pro-hotline-frame a {
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    color: #e00;
    text-decoration: none;
}

.pro-hotline-frame p {
    margin: 0;
}

.pro-banner-frame {
    overflow: hidden;
    border-radius: 25px;
    margin-top: 15px;
}

.pro-banner-frame img {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

@media (max-width: 767px){
	.product-tab .tab-link {
	    border-bottom: 1px dotted #f4ba42;
	    padding: 5px 15px;
	    display: block;
	    margin: 0;
	    border-radius: 0;
	}

	ul.tabs li.current {
	    border-bottom: 2px solid #f4ba42;
	}

	.product-tab .tab-content.current {
	    border-radius: 0;
	}
}

.luz-blog .right-content .blog-main {
    margin-top: 15px;
}

.blog-item-frame {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.blog-item-frame:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.luz-blog .blog-item-thumbnail {
    height: 167px;
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.blog-item-frame .blog-item-thumbnail .post-time {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #f4ba42;
    padding: 0 5px;
    border-radius: 15px;
    color: #fff;
}

.blog-item-frame .blog-item-info {
    padding: 5px 15px;
}

.blog-item-frame .blog-item-info .blog-item-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.blog-item-frame .blog-item-info .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.blog-item-frame .blog-item-info .blog-item-name a:hover {
	color: #f4ba42
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 69px;
    height: auto;
    min-height: 69px;
    position: relative;
    overflow: hidden;
}

.left-content .aside-item .heading .title-head {
    text-transform: capitalize;
    position: relative;
    padding-bottom: 13px;
    color: #1c011f;
    font-size: 1.42857em;
    font-weight: 700;
    text-decoration: none;
}

.left-content .aside-item .heading .title-head:before {
	content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.aside-item .aside-content .nav-category .nav li {
    margin-bottom: 10px;
}

.aside-item.collection-category .nav-item {
    position: relative;
    clear: left;
    font-size: 1.07143em;
    width: 100%;
}

.sidebar .aside-item .aside-content .nav-category .nav li a {
    padding-right: 30px;
    font-family: Pattaya, sans-serif;
    font-size: 16px;
    border-radius: 25px;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    color: #1c011f;
}

.sidebar .aside-item .aside-content .nav-category .nav li:hover a{
	border: 1px dotted #f4ba42;
	color: #f4ba42;
}

.aside-item.collection-category .nav>li>a {
    padding: 5px 15px;
}

.aside-item .aside-content .nav-category .nav li .fa-angle-down {
    color: #1c011f;
    position: absolute;
    top: 12px;
}

.aside-item .aside-content .nav-category .nav li .fa-angle-down:hover {
	color: #f4ba42;
	cursor: pointer;
}

.aside-item.collection-category .nav-item .fa-angle-down {
    width: 20px;
    text-align: center;
}

.aside-item.collection-category .nav-item .fa-angle-down {
    right: 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu {
    border: 1px dotted #ccc;
    border-radius: 20px;
    background: transparent;
    padding-left: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-top: 0;
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
    display: block;
}

.aside-item.collection-category .nav-item .dropdown-menu {
    position: static;
    width: 100%;
    border: 0;
    padding-left: 15px;
    box-shadow: none;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li {
    margin-bottom: 0;
    padding: 0 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li a {
    border: none;
    padding: 6px 0;
    border-bottom: 1px dotted #ccc;
    border-radius: 0;
    color: #1c011f;
    padding-right: 15px;
}

.sidebar .aside-item .aside-content .nav-category .nav li .dropdown-menu li a:hover {
	color: #f4ba42
}

.left-content .aside-item .list-blogs .blog-item {
    margin-bottom: 15px;
    overflow: hidden;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-thumbnail {
    width: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    position: relative;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name a {
    text-decoration: none;
    color: #1c011f;
}

.left-content .aside-item .list-blogs .blog-item .blog-item-mains .blog-item-name a:hover {
	color: #f4ba42
}






.sidebar:after {
	background: unset;
	box-shadow: unset;
}

.luz-blog .right-content .postby {
    position: relative;
    padding-bottom: 13px;
    font-size: 1.14286em;
    line-height: 1.71429em;
    color: #676767;
    margin-bottom: 10px;
}

.luz-blog .right-content .postby:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.luz-blog .right-content .postby i {
    color: #1c011f;
}

.article-content {
    font-size: 1.14286em;
}

/*********************************
**********************************
    COMMENT
**********************************
**********************************/

#article-comments {
    margin-top: 30px;
}

#article-comments .title-form-coment {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    color: #1c011f;
}

#article-comments .title-form-coment:before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

#article-comments .article-comment {
    margin-bottom: 10px;
}

#article-comments .article-comment-user-image {
    margin: 0;
    float: left;
    width: 50px;
    margin-right: 12px;
}

#article-comments .article-comment-user-comment {
    padding-left: 63px;
    font-size: 1em;
}

#article-comments .user-name-comment {
    display: inline-block;
}

#article-comments .user-name-comment {
    margin: 0;
    color: #1c011f;
    font-size: 18px;
    line-height: 1;
}

.btn-link {
    line-height: 40px;
    color: #1c011f;
}

.form-coment .title-form-coment {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #1c011f;
}

.form-coment .title-form-coment:before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

.form-coment .art-comment-name {
    padding-right: 7px;
}

.form-coment .form-group .form-control {
    border-radius: 25px;
    padding: 15px;
}

.form-coment button {
    background: #1c011f !important;
    color: #fff !important;
    border: 2px solid #f4ba42 !important;
    font-size: 18px;
    border-radius: 30px;
    padding: 0 25px;
    line-height: 35px;
}

.form-coment button:hover {
    color: #fff !important;
    background: #f4ba42 !important
}
#luz-cart .shopping-cart-table h1 {
    color: #1c011f;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
    border-bottom: 1px dashed #ebebeb;
    padding-bottom: 15px;
}

#luz-cart .shopping-cart-table h1 span {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
}

.cart-empty {
    text-align: center;
    margin-top: 20px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cart-empty .btn-cart-empty {
    font-size: 18px;
}

.cart-empty a {
    background: #1c011f;
    color: #fff;
    border: 2px solid #f4ba42;
    font-size: 14px;
    border-radius: 30px;
    padding: 0px 20px;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 39px;
}

.cart-empty a:hover {
	color: #fff;
	background: #f4ba42
}


.shopping-cart-item {
    background-color: transparent;
    padding: 15px 0;
    margin: 0;
}

.shopping-cart-item .col-xs-3 {
    padding-left: 0;
}

.shopping-cart-item .col-xs-3 p {
    margin: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.shopping-cart-item .col-right {
    padding-left: 0;
}

.shopping-cart-item .col-right .box-info-product {
    width: 350px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.shopping-cart-item .col-right .box-info-product .name {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 0;
}

.shopping-cart-item .col-right .box-info-product .name a {
    color: #242424;
    font-weight: 500;
}

.shopping-cart-item .col-right .box-info-product .action {
    position: relative;
    padding: 0 !important;
    margin-bottom: 0;
    margin-top: 0;
}

#luz-cart #shopping-cart .btn-item-delete {
    color: #f4ba42;
    font-weight: bold;
    border: 0;
    font-size: 13px;
    position: static;
    padding: 0;
    line-height: 1.1;
}

.shopping-cart-item .col-right .box-price {
    float: left;
    width: 110px;
    padding-right: 10px;
}

.shopping-cart-item .col-right .box-price .price {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    padding-top: 0;
}

.shopping-cart-item .col-right .quantity-block {
    width: 120px;
    float: right;
}

#luz-cart #right-affix .box-style .list-info-price {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#luz-cart #right-affix .box-style .list-info-price span {
    font-weight: bold;
}

#luz-cart #right-affix .box-style .list-info-price strong {
    float: right;
}

#luz-cart #right-affix .box-style .total2 .text-label {
    font-weight: bold;
    line-height: 33px;
}

#luz-cart #right-affix .box-style .total2 .amount {
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #f4ba42;
}

#luz-cart #right-affix .btn-proceed-checkout {
    background: #1c011f;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
}

#luz-cart #right-affix .btn-proceed-checkout:hover {
	color: #fff;
	background: #f4ba42;
	border: none;
}

#luz-cart #right-affix .btn-proceed-checkout:last-child {
    background: #fff;
    border: 1px solid #1c011f;
    color: #1c011f;
    margin-top: 10px;
}

#luz-cart #right-affix .btn-proceed-checkout {
    background: #1c011f;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
}


/**************************************************
***************************************************
   CART MOBILE
***************************************************
***************************************************/

.cart-mobile {
    padding: 10px 0px 0px 0px;
}

.cart-mobile .header-cart {
    padding: 10px;
}

.cart-mobile .title-cart {
    margin-bottom: 15px;
    line-height: 10px;
}

.cart-mobile .title-cart h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    display: inline-block;
}

.cart-mobile .header-cart-content {
    margin-top: 0px;
    padding: 10px;
}

.cart-mobile .header-cart-content .content-product-list {
    min-height: 110px;
}

.cart-mobile .header-cart-content .content-product-list .item-product {
    min-height: 110px;
    border-bottom: solid 1px #f1f1f1;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.item-product-cart-mobile, .title-product-cart-mobile {
    display: table-cell;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 10px
}

form a {
    color: #575454;
}

.item-product-cart-mobile img {
    max-width: 100px;
    margin-right: 10px;
}

.title-product-cart-mobile h3 {
    line-height: 1;
    margin: 0;
    font-weight: normal;
}

.title-product-cart-mobile a {
    word-break: break-word;
    font-size: 14px;
    color: #363636;
}

.title-product-cart-mobile p {
    line-height: 2;
    font-size: 14px;
    color: #898989;
}

.title-product-cart-mobile span {
    color: #1c011f;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
    margin-top: 10px;
}

.select-item-qty-mobile>div {
    position: relative;
    width: 68px;
    height: 25px;
}

.cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus, .cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
    padding: 0;
    margin: 0;
    width: 23px;
    text-align: center;
}

.cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    line-height: 1;
    height: 25px;
    border-style: hidden;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
    cursor: pointer;
}

.cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 25px;
    display: inline-block;
    line-height: 1;
    border-style: hidden;
    color: #fff;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
    cursor: pointer;
}

.select-item-qty-mobile .txt_center input {
    height: 25px;
    width: 24px;
    text-align: center;
    margin: 0px;
    padding: 0;
    position: absolute;
    left: 22px;
    min-height: 0;
    border: solid thin #ddd;
    border-radius: 0;
}

.select-item-qty-mobile a {
    line-height: 3;
    color: #333;
}

.cart-mobile .header-cart-price {
    padding: 10px 0px;
    padding-bottom: 0;
}

.cart-mobile .title-cart a {
    float: right;
    color: #f4ba42;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
}

.btn-proceed-checkout-mobile {
    width: 100%;
    line-height: 27px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    border: none;
    background: #1c011f;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: bold;
}

.btn-proceed-checkout-mobile:hover {
	color: #fff;
	background: #f4ba42
}

.btn-proceed-continues-mobile:hover {
	color: #fff;
	background: #f4ba42;
	border: none;
}

.btn-proceed-continues-mobile {
    background-color: #fff;
    color: #1c011f;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #1c011f;
    font-weight: bold;
}
.anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    color: #333;
    font-size: 18px;
}

.underline-none, .underline-none:focus, .underline-none:active, .underline-none:hover {
    text-decoration: none;
}

/********************************
*********************************
	MOBILE
*********************************
*********************************/

.banner {
    padding: 20px 0;
    background: transparent;
    background-size: cover;
    display: none;
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrap {
    margin: 0 auto;
    max-width: 40em;
    zoom: 1;
}

.logo--left {
    text-align: left;
}

h1 {
    line-height: 1.16em;
}

.order-summary-toggle {
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 1.25em 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: left;
    width: 100%;
}

.order-summary-toggle .wrap {
    position: relative;
}

.expandable.pull-right {
    position: absolute;
    top: 0;
    right: 15px;
}

/********************************
*********************************
	SIDEBAR
*********************************
*********************************/

.content {
    overflow: hidden;
}

.wrap:after, .wrap:before {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

.sidebar {
    position: relative;
    color: #717171;
}

.sidebar:after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    box-shadow: 0 -1px 0 #e1e1e1 inset;
}

.sidebar_header {
    display: none;
}

.sidebar .sidebar_header h5 {
    margin: 21px 0 19px 0;
}

label {
    margin-bottom: 0;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.sidebar hr.full_width {
    margin: 0 0 0 -30px;
    width: 300%;
}

hr {
    border-color: #e1e1e1;
}

.sidebar__content .summary-section {
    padding: 12px 0;
}

.product-table {
    margin: 7px 0;
    width: 100%;
}

.product-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #fff;
    position: relative;
}

.product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.product-thumbnail__quantity {
    font-size: 0.78em;
    white-space: nowrap;
    padding: 0 0.62em;
    border-radius: 2em;
    background-color: #5a96c8;
    color: #fff;
    position: absolute;
    right: -0.9em;
    top: -0.55em;
    z-index: 3;
}

.product-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    z-index: 2;
}

.product {
    color: #4b4b4b;
}

.product:first-child td {
    padding-top: 0;
}

.product-info-name, .product-info-description {
    display: block;
}

.product:first-child td {
    padding-top: 0;
}

.product-price {
    white-space: nowrap;
}

.text-right {
    text-align: right;
}

.order-summary__scroll-indicator {
    background-color: rgba(50,50,50,0.85);
    border-radius: 2em;
    bottom: 1.5em;
    color: #fafafa;
    font-size: 0.85714em;
    left: 50%;
    opacity: 0;
    padding: 0.6em 1.2em;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    white-space: nowrap;
}

.m0 {
    margin: 0 !important;
}	

.field__input-btn-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
     display: flex; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.summary-section .field__input-wrapper {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px
}

.field__input-btn-wrapper .field__input-wrapper {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.field__input-wrapper {
    position: relative;
    background: #fff;
    display: block;
    margin-bottom: 7px;
}

.field__input-wrapper .discount_code {
    box-shadow: 0 0 0 1px #d9d9d9;
    border: none;
    height: 32px;
    border-radius: 5px;
}


.error {
    border: 1px dashed #f88d81;
    color: #f06455;
    display: block;
    padding: 5px 7px;
}

.field__input-btn-wrapper .btn {
    margin-left: 13px;
}

.total-line:first-of-type {
    margin-bottom: 0;
}

.total-line-subtotal {
    padding-bottom: 8px;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left!important;
}

.total-line {
    margin-bottom: 12px;
}

.total-line-total {
    border-top: 1px solid #e7e7e7;
    padding-top: 12px;
    margin-bottom: 0;
}

.total-line-price {
    font-size: 20px;
}

.pull-right {
    float: right!important;
}

.mt10 {
    margin-top: 10px !important;
}

.color {
    color: #1f9cd0 !important;
}

.previous-link i {
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    vertical-align: -10%;
    margin-right: 1px;
}

.field__input-btn-wrapper .btn-checkout {
    padding: 8px 40px;
    width: auto;
}


/********************************
*********************************
	MAIN
*********************************
*********************************/

.main .logo {
    display: none;
    padding: 20px 0;
}

.logo--left {
    text-align: left;
}

.section {
    position: relative;
    padding-top: 28px;
}

.section__header {
    position: relative;
    margin-bottom: 12px;
}

.layout-flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-flex {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-flex__item--stretch {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.section__title--icon {
    margin: 0 3px;
    vertical-align: top;
}

.section__title--link {
    font-size: 14px;
}

.section__title--link i {
    padding-right: 2px;
}

.section__content {
    zoom: 1;
}

.section__content:after, .section__content:before {
    content: "";
    display: table;
}

.stateful-form .field__input-wrapper {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    border: none;
}

.main .field__input {
    background-color: white;
    color: #333333;
}

.has-error .form-control, .has-error .form-control:focus {
    box-shadow: 0 0 0 2px #f45b4f;
}

.has-error .form-control {
    border-color: #c23527;
}

.help-block {
     margin-top: 0; 
}

ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.field__input-wrapper .field__input {
    margin-bottom: 0;
    border-radius: 5px
}

.field__input {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 0 1px #d9d9d9;
    padding-top: 1.5em;
    padding-bottom: 0.38em;
}

.field__input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: block;
    height: 3em;
    width: 100%;
    margin: 0 0 15px;
    color: #30373b;
    font-size: 15px;
    line-height: normal;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.94em 0.8em;
    word-break: normal;
    border: none;
    -webkit-transition: border-color 150ms;
    transition: border-color 150ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.section__title--icon {
    margin: 0 3px;
    vertical-align: top;
}

.content-box:first-child, .content-box-spacing:first-child {
    margin-top: 0;
}

.content-box {
    box-shadow: 0 0 0 1px #d9d9d9;
}

.content-box {
    border-radius: 4px;
    background: #fff;
    color: #737373;
}

.content-box__row:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.display-table .content-box__row {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.content-box__row:first-child, .content-box__row.content-box__row--secondary {
    border-top: none;
}

.content-box__row {
    padding: 1.3em;
    position: relative;
    border-top: 1px solid #d9d9d9;
    zoom: 1;
}

.content-box__row:after, .content-box__row:before {
    content: "";
    display: table;
}

.content-box__row:after {
    clear: both;
}

.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.radio-wrapper:after, .radio-wrapper:before, .checkbox-wrapper:after, .checkbox-wrapper:before {
    content: "";
    display: table;
}

.radio-wrapper:after, .checkbox-wrapper:after {
    clear: both;
}

.display-table .radio__input, .display-table .checkbox__input {
    display: table-cell;
}

.radio__input, .checkbox__input {
    padding-right: 0.75em;
    white-space: nowrap;
    display: table-cell;
}

.main .input-radio {
    border-color: #d9d9d9;
    margin: 0;
}

.input-radio:checked, .input-checkbox:checked {
    border: none;
    box-shadow: 0 0 0 10px #337ab7 inset;
}

.input-radio {
    border-radius: 50%;
}

.input-checkbox, .input-radio {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 0 #bbbbbb inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: 1px solid;
}

.input-checkbox:checked:after, .input-radio:checked:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.input-radio:after {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #fff;
    border-radius: 50%;
}

.input-checkbox:after, .input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    transition: all 0.2s ease-in-out 0.1s;
    opacity: 0;
}

.radio__label, .display-table .checkbox__label {
    display: table-cell;
    width: 100%;
}

.radio-wrapper label, .checkbox-wrapper label {
    font-weight: normal;
}

.radio__label, .checkbox__label {
    cursor: pointer;
    font-weight: 400;
    vertical-align: middle;
}

.shipping-method .radio__label__primary {
    display: unset;
}

.radio__label__primary {
    vertical-align: top;
}

.radio__label__primary {
    display: table-cell;
    width: 100%;
}

.shipping-method .radio__label__accessory {
    width: 100px;
    display: inline-block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio__label__accessory {
    padding-left: 3em;
    white-space: nowrap;
    text-align: right;
}

.content-box__emphasis {
    font-weight: 700;
    color: #4d4d4d;
}

.radio__label__accessory {
    display: table-cell;
}

.payment-icon-v2 {
    display: inline-block;
    width: 52px;
    height: 28px;
    transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
}

.payment-icon-fa {
    font-size: 22px;
    color: #1990c6;
    margin-right: 15px;
}

.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.blank-slate p:last-child {
    margin-bottom: 0;
}

.blank-slate p {
    margin: 0 0 5px 0;
}

.content-box__row--secondary {
    background-color: #f8f8f8;
}

.btn-checkout {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 1000px) {
	.wrap {
	    padding: 0 25px;
	    width: 98%;
	    max-width: 95em;
	}

	.order-summary-toggle {
	    display: none;
	}

	.logo a {
	    display: block;
	}

	.anyflexbox .content .wrap {
	    -webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	}

	.sidebar {
	    width: 32%;
	    padding-left: 30px;
	    background-position: left top;
	    float: right;
	}

	.sidebar:after {
	    left: 0;
	    background-position: left top;
	    box-shadow: 1px 0 0 #e1e1e1 inset;
	}

	.sidebar_header {
	    display: block;
	}

	.order-summary--product-list {
	    position: relative;
	}

	.summary-product {
	    min-width: 100%;
	    max-height: 295px;
	    overflow: hidden;
	}

	.main .logo {
	    display: block;
	}

	.main_content {
	    padding-bottom: 35px;
	}

	.main_content .section {
	    padding-right: 5px;
	}

	.section:not(.hide):first-child {
	    padding-top: 0;
	}

}

@media screen and (min-width: 61.875em) {
	.field__input {
	    font-size: 1em;
	}
}


@media (max-width: 999px) {
	.banner {
	    display: block;
	}

	.wrap {
	    width: 100%;
	    box-sizing: border-box;
	    padding: 0 15px;
	}

	.logo {
	    text-align: center !important;
	}

}

.sec-page-contact {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    padding: 5px 15px;
    min-height: 150px;
}

.sec-page-contact h1 {
    margin: 0;
    font-family: Pattaya, sans-serif;
    color: #1c011f;
}

.sec-page-contact table tr td {
    padding: 5px;
    vertical-align: top;
    border: none;
}

.sec-page-contact table tr td:first-child {
    width: 25px;
}

.sec-page-contact table tr td i {
    color: #f4ba42;
}

.sec-page-contact table tr td {
    padding: 5px;
    vertical-align: top;
    border: none;
}

.sec-map-contact {
    background: #f9f9f9;
    border: 1px dotted #f4ba42;
    border-radius: 15px;
    overflow: hidden;
}

.sec-map-contact iframe {
    width: 100% !important;
    height: 175px !important;
    margin-bottom: -7px;
}

.page-login #login .title-head {
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    color: #222;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 25px;
    position: relative;
    font-weight: 400;
}

.block {
    display: block !important;
}

.form-group .form-control {
    border-radius: 25px;
    padding: 5px 15px;
}

.page-login #login .btn-blues {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    outline: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 13px;
    border: 2px solid;
    border-color: #f4ba42;
    background: #1c011f;
    font-weight: 500;
    z-index: 2;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    border-radius: 25px;
    line-height: 35px;
}

.page-login #login .btn-blues:hover {
	color: #fff;
	background: #f4ba42
}