.sidebar .aside-item .aside-title .title-head:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed #f4ba42;
    width: 100%;
}

.sidebar .aside-filter {
    margin-top: 15px;
}

.sidebar .aside-item .aside-title .title-head {
    text-transform: capitalize;
    position: relative;
    padding-bottom: 13px;
    margin-top: 5px;
    color: #1c011f;
    font-size: 1.42857em;
    font-weight: 700;
    text-decoration: none;
}

.sidebar .aside-item .aside-title .title-head a, .sidebar .aside-item .aside-title .title-head span {
    text-decoration: none;
    color: #1c011f;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group ul {
    max-height: 140px;
    overflow-y: auto;
}

.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 2.5em;
    min-width: 100%;
    float: left;
    padding-right: 8px;
}

.filter-item * {
    color: #6f6f6f;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
}

label[for] {
    cursor: pointer;
}


.filter-item--check-box .fa {
    margin-right: 5px;
    width: 14px;
    margin-left: 1px;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}

.input-group-field, .input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.filter-group ul {
    max-height: 140px;
    overflow-y: auto;
}

.sidebar .aside-item .aside-content .col-banner {
    overflow: hidden;
    border-radius: 25px;
}

.sidebar .aside-item .aside-content .col-banner img {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    transition: 0.8s;
}

/**********************************************
***********************************************
	CUSTOM SCROLL
***********************************************
***********************************************/

.filter::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/*************************************************/

.collection .title-head {
    position: absolute;
    top: 5px;
    text-transform: capitalize;
    color: #1c011f;
}

.collection .category-products .sortPagiBar {
    border-bottom: 1px dashed #f4ba42;
    margin-bottom: 20px;
    padding-bottom: 7px;
}

#sort-by {
    float: right;
    font-size: 12px;
    text-align: left;
}

#sort-by label {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
    font-weight: 700;
}

#sort-by ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float: right;
}

#sort-by>ul>li {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
    text-indent: .01px;
    cursor: pointer;
    line-height: 36px;
}

#sort-by li {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    margin: 0 auto;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    width: 240px;
    float: left;
    color: #333;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

#sort-by ul ul {
    position: absolute;
    display: none;
    left: -1px;
    top: 35px;
    background: none repeat scroll 0 0 #F8F8F8;
    z-index: 10000;
    border-top: none;
    border: 1px #F0F0F0 solid;
}

#sort-by li li {
    width: 100%;
    margin-top: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#sort-by a:link, #sort-by a:visited {
    color: #333;
    text-decoration: none;
}

#sort-by li>a {
    display: inline-block;
    width: 100%;
    line-height: 36px;
}

/**********************************************
***********************************************
	PRODUCT
***********************************************
***********************************************/

.product-box {
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    overflow: visible;
    margin-bottom: 40px;
    text-align: left;
    background: #fff;
    position: relative;
}

.product-box:hover {
	border: 1px dashed #f4ba42;
}

.product-box .product-thumbnail-frame {
    position: relative;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.product-box .product-thumbnail-frame img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.product-box .product-info {
    text-align: center;
    position: relative;
    padding: 0 15px 20px;
}

.product-box .product-name {
    position: relative;
    text-align: center;
    font-family: Pattaya, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.product-box .product-name a {
    color: #1c011f;
}

.product-box .product-info .price-box {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-box .product-info .price-box .special-price {
    display: inline-block;
}

.product-box .product-info .price-box .special-price .product-price {
    font-size: 14px;
    font-weight: normal;
    color: #323c3f;
    line-height: 1.71429em;
    display: block;
}

.product-box .product-info .price-box .old-price {
    display: inline-block;
}

.product-box .product-info .price-box .old-price .product-price-old {
    font-size: 12px;
    text-decoration: line-through;
    margin: 0 0 0 10px;
    display: inline-block;
    color: #adadad;
}

.product-box .product-info .product-action {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    margin: auto;
}

.product-box .product-info .product-action form {
    margin-bottom: 0px;
}

.product-box .product-info .product-action form button {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #000;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: 600;
    font-family: Arial;
    color: #f4ba42;
    transition: 0.6s;
}

.product-box .product-info .product-action form button:hover {
	color: #fff;
	background: #f4ba42
}

.product-box .product-info .product-action form .quick-view {
    border-radius: 50%;
}

.product-box .product-info .product-action form .quick-view:hover {
	background: #1c011f;
	color: #fff;
}


/**********************************************
***********************************************
	PAGINATE
***********************************************
***********************************************/

.pagination-frame {
    text-align: center;
}

.pagination {
	margin-bottom: 20px;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination-frame .pagination .page-item .page-link {
    border-radius: 50%;
    padding: 0;
    line-height: 38px;
}

.pagination .page-link {
    float: left;
    margin: 2.5px;
    width: 40px;
    background: #fff;
    text-align: center;
    height: 40px;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    border-radius: 0;
    border: none;
    text-decoration: none;
    border: 1px solid #e1e1e1;
}

.pagination .page-link:hover {
	background-color: #9e9e9e;
	color: #fff;
}

.pagination-frame .pagination .page-item.active .page-link {
    background-color: #1c011f;
    border: 1px solid #f4ba42;
}

.pagination .page-item.active .page-link {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    color: #fff;
    display: block;
}